
#account-info {
    height:60px;
}

#account-info img {
    margin-top:-12px;
    height:80px;
    width:80px;
    float:left;
    padding:4px;
}

#account-info label{
    display:block;
    font-weight:bold;
    font-family:roboto;
    text-align:center;
    padding:4px;
}


#user-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-bottom: medium none;
    float:right;
    width:40px;
    overflow:hidden;
}

#user-options form{
    display:inline;
}

#user-menu img{
    margin:-8px 0px;
    width:36px;
    height:36px;
}

#user-options {
    display: none;
    position:absolute;
    background:whitesmoke;
    margin:12px;
    padding:4px;
    right:0px;
    box-shadow:0px 0px 4px #434343;
}

#user-options:before {
    content:"";
    width:0;
    margin:-14px 10px;
    border:solid;
    border-width:0px 10px 10px;
    border-color:whitesmoke transparent;
    position:absolute;
    right:0px;
}

#user-options ul{
    list-style-type:none;
    margin:0;
    padding:4px;
    clear:both;
}

#user-options li{
    display:inline-block;
}

#user-options input{
    background:none;
    border:none;
    height:32px;
    cursor:pointer;
    font-family:roboto;
    font-size:14px;
}

#user-options input:hover{
    background:rgba(0,0,0,.05);
}

#banner-notice{
    right:0px;
    position:relative;
    display:inline-block;
    width:310px;
    height:218px;
    margin:18px 12px;
}

noscript {
display:block;
background:rgba(255,0,0,0.7);
font-family:roboto;
border:1px solid rgba(255,0,0,0.7);
color:#f4f4f4;
padding:16px;
text-align:center;
}

#small-close-button{
    font-family:arial rounded mt bold;
    float:right;
    margin:-4px -2px;
    font-size:14px;
    cursor:pointer;
    padding:3px 6px;
}

#small-close-button:hover{
    background:rgba(255, 246, 32,0.5);
}

#notice {
    display:inline-block;
    background:rgba(255, 246, 0,0.4);
    width:966px;
    height:16px;
    padding:12px;
    color:#434343;
    font-family:helvetica;
    font-size:13px;
}

img {
    height: 100%;
    width: 100%;
}
#menu_bar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-bottom: medium none;
    margin-left: 308px;
    width: 160px;
    z-index: 15;
}
#menu_bar img {
    height: 36px;
    margin: -8px 0;
    padding: 0;
    width: 36px;
}
#menu_bar ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    clear: both;
    margin: 8px 16px;
}
#menu_bar ul li {
    text-align: center;
}

body {
    background: url("../pics/diagonal-bg.gif") repeat scroll 0 0%, -moz-linear-gradient(center top , rgb(238, 238, 238) 0%, rgb(238, 238, 238) 100%) repeat scroll 0 0 transparent;
    margin: 0;
    min-width: 1000px;
}
#container {
    background: -moz-linear-gradient(center top , rgb(249, 252, 247) 0%, rgb(245, 249, 240) 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 0 3px rgb(173, 173, 173);
    margin: 0 auto;
    width: 990px;
}
header {
    background: url("../pics/nature-watermark.png") repeat scroll 0 0 transparent;
    height: 320px;
    padding: 0;
    position: relative;
    z-index: 10;
}
#profile_image {
    border: 5px solid white;
    display: block;
    float: right;
    height: 140px;
    margin-right: 40px;
    margin-top: 25px;
    width: 140px;
}
#top_contents {
    background: none repeat scroll 0 0 whitesmoke;
    clear: both;
    height: 200px;
    position: relative;
}
#sidebar_contents {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgb(195, 195, 195);
    margin-top: 100px;
    padding: 16px;
    text-align: center;
    z-index: 10;
}
#sidebar_contents li {
    color: rgb(67, 67, 67);
    display: inline-block;
    margin: 4px;
    padding: 32px;
    width: 72px;
}
#sidebar_contents a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: rgb(67, 67, 67);
    display: inline-block;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    height: 32px;
    margin: -28px;
    overflow: hidden;
    padding: 28px;
    text-decoration: none;
    width: 72px;
}
header h3, h4, h5 {
    color: rgb(249, 249, 249);
    font-family: roboto;
    font-size: 28px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 1px grey;
}
header h4 {
    font-size: 24px;
}
header h5 {
    font-size: 22px;
}
header input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.3s linear 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-color: transparent black black;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: rgb(226, 226, 226);
    float: right;
    font: 12px roboto;
    height: 26px;
    left: 10px;
    margin-top: 10px;
    padding: 2px 8px;
    position: absolute;
    width: 160px;
    z-index: -1;
}
header input[type="text"]:focus {
    -moz-transition: all 0.3s linear 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: rgb(245, 245, 245);
}
#university_name {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#tabs {
    float: left;
}
#tabs ul li {
    clear: both;
    display: inline;
    float: left;
    font-weight: bold;
    height: 20px;
    margin: 2px 0;
    padding: 25px;
    position: relative;
    width: 120px;
}
#tabs a {
    font-family: roboto;
    font-size: 15px;
    text-decoration: none;
}
.activetab {
    background: -moz-linear-gradient(left center , rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%) repeat scroll 0 0 transparent;
    color: rgb(249, 249, 249);
    z-index: 1;
}
.activetab a {
    color: rgb(67, 67, 67);
}
.unactivetab {
    background: -moz-linear-gradient(left center , rgb(53, 106, 160) 0%, rgb(53, 106, 160) 100%) repeat scroll 0 0 transparent;
    z-index: 0;
}
.unactivetab a {
    color: rgb(230, 230, 230);
}
.activepanel {
    display: block;
    overflow: auto;
    padding: 12px;
}
.unactivepanel {
    display: none;
}
#tab-contents {
    float: left;
    margin: 14px -14px;
    padding: 4px;
    position: relative;
    width: 440px;
}
.panels {
    background: -moz-linear-gradient(right center , rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%) repeat scroll 0 0 transparent;
    box-shadow: -1px 0 2px rgb(67, 67, 67);
    height: 194px;
    position: relative;
}
nav input {
    background:transparent;
    border:none;
    color: rgb(244, 244, 244);
    cursor: pointer;
    float: right;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    padding: 0 12px;
    position: relative;
    right: 8px;
    width: 120px;
    margin-top:-10px;
}
nav {
    background: -moz-linear-gradient(center top , red 0%, rgb(207, 4, 4) 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 0 4px rgb(67, 67, 52);
    height:48px;
    opacity: 1;
    padding: 0;
    z-index: 12;
}
.divider {
    color: rgba(255, 255, 255, 0.4);
    font-family: satellite;
    font-size: 30px;
    padding: 4px 0;
    width: 4px;
}
.login:hover {
    background: none repeat scroll 0 0 transparent;
    border-bottom-color: transparent;
}
.divider:hover {
    background: none repeat scroll 0 0 transparent;
    border-bottom-color: transparent;
}

nav a {
    -moz-transition: all 0.5s ease 0s;
    color: rgb(249, 249, 249);
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    float: left;
    height: 20px;
    margin: 0;
    padding: 14px 8px;
    text-align: center;
    width:82px;
}
nav ul li:hover {
    background: none repeat scroll 0 0 rgb(207, 4, 4);
    border-bottom: 4px solid black;
    cursor: pointer;
}
nav li ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    border-radius: 0 0 2px 2px;
    display: none;
    margin: 14px -8px;
    padding: 4px;
    position: absolute;
}
nav ul li:hover ul {
    display: block;
}
nav li ul li {
    border: medium none;
    clear: both;
    display: block;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 120px;
}
nav li ul li:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border: medium none;
}
#headline {
    color: rgb(67, 67, 67);
    font-family: roboto;
    font-size: 17px;
    font-weight: bold;
    height: 26px;
    padding: 12px;
}
#center_contents {
    background: url("../pics/bg_footer.png") repeat scroll 0 0%, -moz-radial-gradient(center center , ellipse farthest-corner, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%) repeat scroll 0 0 transparent;
    height: 252px;
}
#bottom_contents {
    background: none repeat scroll 0 0 rgb(249, 249, 249);
    margin-top: 20px;
}
#message_box {
    background: -moz-linear-gradient(right center , rgb(241, 241, 241) 0%, rgb(241, 241, 241) 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    font-family: open sans;
    font-size: 14px;
    margin: 0 auto;
    padding: 18px;
    width: 800px;
}
#message_box p {
    letter-spacing: normal;
    padding: 4px 8px;
    text-align: justify;
}
#message_box a {
    color: rgb(255, 76, 0);
    font-size: 15px;
    margin-left: 2px;
    text-decoration: none;
}
#message_box a:hover {
    border-bottom: 1px dotted;
    cursor: pointer;
}
#message_box img {
    border: 10px solid white;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgb(195, 195, 195);
    float: right;
    height: 150px;
    margin-left: 20px;
    width: 120px;
}
#photo_gallery {
    height: 200px;
    margin-top: 32px;
}
#bottom_notification {
    background: none repeat scroll 0 0 rgb(241, 241, 241);
    border-top: 4px solid grey;
    color: rgb(2, 59, 145);
    font-family: open sans;
    font-size: 13px;
    height: 36px;
    letter-spacing: 1px;
    margin-top: 42px;
    padding: 8px 12px;
    text-align: justify;
    word-spacing: 4px;
}
footer {
    background: url("../pics/bg_footer.png") repeat scroll 0 0 transparent;
    box-shadow: 0 0 1.2px grey inset;
    height: 240px;
}
footer ul {
    font-family: tahoma;
    font-size: 15px;
    margin: 0;
}
footer ul li {
    color: rgb(249, 249, 249);
    display: inline;
    float: left;
    margin: 24px 24px 24px 50px;
    padding: 0;
}
footer ul li ul {
    margin-top: 4px;
}
footer ul li li {
    display: block;
    float: none;
    font-size: 12.5px;
    margin: 0 -40px;
}
#ajax-shadow {
    background: none repeat scroll 0 0 white;
    cursor: pointer;
    display: none;
    height: 150%;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
}
#ajax-container {
    margin: 140px auto;
    position: absolute;
    z-index: 14;
}
#feedbacks {
    float: right;
    margin-right: 20px;
    width: 90px;
    cursor: pointer;
}

#updateinfo {
    float: right;
    margin-right: 120px;
}
#container-f {
    background:#e1e1e1;
    color: rgb(241, 14, 29);
    display: none;
    padding: 24px;
    text-align: right;
}
#container-f aside {
    color: rgb(67, 67, 67);
    font-size:40px;
    font-family:roboto;
    float: left;
    height: 180px;
    margin-top: 20px;
    padding: 24px 16px;
    text-align:right;
    width: 328px;
}

#container aside h4 {
    margin:-32px 82px;
    color: rgba(255,255,255,1);
    text-shadow:0px 0px 2px #c3c3c3;
    font-family:bebas;
    font-size:100px;
}
#container-f ul {
    list-style: none outside none;
    margin-right:12px  40px;
    padding: 0;
}

#container-f label {
    color: #434343;
    font-family: roboto;
    font-size: 15px;
    margin: 12px 4px;
    padding: 4px;
}
#container-f input, select, textarea {
    border: 1px solid #c3c3c3;
    color: rgb(67, 67, 67);
    font-family: helvetica;
    font-size: 14px;
    margin: 8px 2px 8px auto;
    padding: 4px 12px;
}
#container-f input[type="text"], [type="email"], select, textarea {
    height: 28px;
    width: 322px;
}
#container-f input[type="email"] {
    margin-left: 32px;
}
#container-f select {
    margin-left: 18px;
    height: 32px;
    width: 348px;
    padding: 6px 4px;
}
#container-f option {
    width: 278px;
    padding:6px;
}
#container-f textarea {
    height: auto;
    margin-left: 7px;
    width: 323px;
}
#container-f input[type="submit"] {
    background: -moz-linear-gradient(center top , rgb(73, 155, 234) 0%, rgb(32, 124, 229) 100%) repeat scroll 0 0 transparent;
    border: 1px solid ;
    border-color:rgba(0,0,0,.1) rgba(0,0,0,.3) rgba(0,0,0,.3) rgba(0,0,0,.2)  ;     
    box-shadow:0px 0px 2px rgba(0,0,0,.35);
    color: rgb(244, 244, 244);
    font-weight: bold;
    height: 44px;
    margin-left: 188px;
    position: relative;
    width: 140px;
}
#container-f input[type="submit"]:hover {
    -moz-transition-duration: 1s;
    box-shadow: 0 0 2px rgb(195, 195, 195);
    cursor: pointer;
}
#updates ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}
#updates ul li {
    background: none repeat scroll 0 0 rgb(158, 201, 255);
    border-radius: 2px 2px 2px 2px;
    margin: 5px 0;
    padding: 20px;
}
.updatedata a {
    color: rgb(67, 67, 67);
    font-family: roboto;
    font-size: 14px;
    text-decoration: none;
}
.footer-info {
    background: -moz-linear-gradient(center top , rgb(0, 0, 0) 0%, rgb(0, 4, 4) 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 3px rgb(32, 32, 32);
    clear: both;
    color: rgb(244, 244, 244);
    font-family:helvetica;
    font-size:12px;
    padding: 12px;
    position: relative;
    top: 58px;
}
